.box {
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 150%;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: animate 2s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 150%;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ff0ebf
  );
  animation: animate 2s linear infinite;
  animation-delay: -1s;
}

.box .box-content {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background-color: #0c1022;
  overflow: hidden;
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
