body {
  background: #0c1022 !important;
  height: 100vh;
  width: 100vw;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  z-index: 1;
}

.button {
  color: #ffffff;
}

.bubbles {
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden o !important;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: bubble-animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: #ff0ebf;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #ff0ebf, 0 0 100px #ff0ebf;
}

.button:hover {
  transform: scale(0.95);
  opacity: 0.9;
  transition: all ease 0.1s;
}

.my-photo {
  height: 100%;
  width: 100%;
}
@keyframes bubble-animate {
  0% {
    opacity: 0;
    top: 100vh;
    transform: scale(0) rotate(0deg) translate(-360px) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(-360deg) translate(-0px) rotate(-360deg);
  }
  100% {
    opacity: 0;
    top: 0;
    transform: scale(0) rotate(360deg) translate(-0px) rotate(-360deg);
  }
}
